h2[data-v-8a704ad8]{color:var(--tw-prose-headings);font-size:1.5em;font-weight:700;line-height:1.3333333;margin-bottom:1em;margin-top:2em}.thumbnail[data-v-8a704ad8]{margin-top:-10px;position:absolute}
